.navbarArray {
  height: 10vh;
  background-color: white;
}

.logo {
  position: absolute;
  top: 1.2%;
  left: 5%;
  width: 8vw;
  height: 8vh;
}

.navtxt {
  white-space: nowrap;
}

.navtxt:hover {
  color: #5285ee;
}

.menuArray {
  position: relative;
  left: 240%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  gap: 40%;
}

.menuArray a {
  text-decoration: none;
  color: inherit;
}

.menuArray .active {
  color: #5285ee;
}
