.videoArray {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.top {
  display: flex;
}

.menubarArray {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 15vh;
}

.menubar {
  display: flex;
  width: 71vw;
  height: 10vh;
  border-radius: 25px;
  background-color: #0052e7;
  margin-left: 2%;
}

.logoArray {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 10vh;
}

.logo {
  width: 8vw;
  height: 8vh;
}

.dayArray {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 15vw;
  height: 10vh;
}

.dayArray p {
  font-size: 120%;
  color: white;
  margin: 1% 0%;
}

.iconArray {
  display: flex;
  justify-content: space-evenly;
  width: 41vw;
  height: 10vh;
}

.iconArray img {
  width: 5vw;
}

.timeArray {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 15vh;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22vw;
  height: 10vh;
  border-radius: 25px;
  background-color: #0052e7;
}

.time h1 {
  font-size: 250%;
  color: white;
}

.bottom {
  display: flex;
}

.screen {
  width: 75vw;
  height: 65vh;
}

.youVideoArray {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 65vh;
}

.youVideo {
  width: 71vw;
  height: 65vh;
  border-radius: 25px;
  background-color: #eeeeee;
  margin-left: 2%;
}

.myVideoArray {
  position: absolute;
  bottom: 64%;
  left: 58%;
  width: 20vw;
  height: 20vh;
}

.myVideo {
  width: 15vw;
  height: 20vh;
  border-radius: 25px;
  background-color: white;
}

.subTitleArray {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 20vh;
}

.subTitle {
  width: 71vw;
  height: 15vh;
  border: 5px solid white;
  border-radius: 25px;
  margin-left: 2%;
}

.chatingArray {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 85vh;
}

.chating {
  display: flex;
  justify-content: center;
  width: 22vw;
  height: 82.8vh;
  background-color: white;
  border-radius: 25px;
  margin-bottom: 5%;
}

.chatForm {
  position: relative;
  top: 90%;
  width: 20vw;
  height: 6vh;
  border-radius: 100px;
  background-color: #eeeeee;
  padding-left: 5%;
  font-size: 100%;
  border-style: none;
}
