// Video Array
.videoArray {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
}

// Entering
.entering {
  color: white;
  font-size: 300%;
}

// Menubar Array
.menubarArray {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15vh;
}

// Top
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75vw;
}

// Menubar
.menubar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 71.5vw;
  height: 10vh;
  background-color: #0052e7;
  border-radius: 25px;
}

// Logo Array
.logoArray {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
  margin: 0 2%;
}

.logo {
  width: 8vw;
  height: 8vh;
}

// Day Array
.dayArray {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5% 0 2%;
  color: white;
  font-size: 150%;
  white-space: nowrap;
}

// Icon Array
.iconArray {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  gap: 10%;
}

.btnIcon {
  border-style: none;
  background-color: transparent;
}

.imgIcon {
  width: 3.5vw;
  cursor: pointer;
}

// Leave Session
.leaveSession h1 {
  color: red;
  font-size: 300%;
  cursor: pointer;
}

// Time Array
.timeArray {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22vw;
  height: 10vh;
  background-color: #0052e7;
  border-radius: 25px;

  h1 {
    font-size: 250%;
    color: white;
  }
}

// Bottom
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Video
.screen {
  width: 75vw;
  height: 75vh;
}

.videoPosition {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.othervideoItem {
  position: absolute;
  top: 31.2%;
  left: 58.2%;
  width: 240px;
  height: 240px;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    border: 1px solid white;
  }
}

.videoItem {
  width: 95%;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    border: 1px solid white;
  }
}

// Subtitle
.subTitleArray {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 18.7vh;
}

.subTitle {
  width: 71.2vw;
  height: 15vh;
  border: 5px solid white;
  border-radius: 25px;
}

// Right
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
}

// Chatting
.chatingArray {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  overflow: hidden;
}

.chatingArray::-webkit-scrollbar {
  display: none;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  width: 22vw;
  height: 72vh;
  background-color: white;
  border-radius: 25px;
}

.chating {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.chatMessage {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
}

.ownMessage {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
}

.otherMessage {
  background-color: #f1f3f5;
}

.chatForm {
  position: relative;
  bottom: 2%;
  right: -5%;
  width: 20vw;
  height: 6vh;
  border-radius: 100px;
  background-color: #eeeeee;
  padding-left: 4%;
  font-size: 100%;
  border-style: none;
}
