.array {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  overflow-y: hidden;
}

.menuArray {
  display: flex;
  margin-top: 0.9%;
  width: 90vw;
  height: 7.5vh;
}

.updateMenu,
.changeMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  border-radius: 25px 25px 0 0;
  font-size: 1.5rem;

  &.updateMenu {
    background-color: #e0e0e0;
    text-decoration: none;
    color: black;
  }

  &.changeMenu {
    background-color: #5285ee;
    color: white;
  }
}

.updateMenu:hover {
  background-color: #5285ee;
  color: white;
}

.formArray {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.passwordFormArray {
  text-align: center;
  width: 40vw;
  height: 65vh;
}

.formTxt {
  margin: 2% 0;
}

.passwordForm {
  width: 40vw;
  height: 60vh;
  text-align: left;
}

.inputForm {
  margin: 4% 12%;
}

.inputTxtForm {
  width: 30vw;
  height: 5vh;
  margin-top: 2%;
  font-size: 100%;
  padding-left: 2%;
}

.formBtnArray {
  display: flex;
  justify-content: center;
}

.formBtn {
  width: 5vw;
  height: 5vh;
  font-size: 120%;
  border-radius: 20px;
  margin: 0% 2%;
  background-color: white;
}

.formBtn:hover {
  background-color: #5285ee;
  color: white;
  border: none;
}