.Container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  padding: 2vh 5vw;
}

.menuNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
}

.updateItem,
.changeItem {
  flex: 1;
  text-align: center;
  font-size: 1.5rem;
  padding: 1vh 0;
  cursor: pointer;
  text-decoration: none;
  color: black;
  border-radius: 25px 25px 0 0;

  &.updateItem {
    background-color: #5285ee;
    color: white;
  }

  &.changeItem {
    background-color: #e0e0e0;
    text-decoration: none;
    color: black;
  }
}

.changeMenu:hover {
  background-color: #5285ee;
  color: white;
}

.infoArray {
  width: 100vw;
  height: 83vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.infoForm {
  width: 40vw;
  height: 65vh;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;

  th,
  td {
    border: 1px solid black;
    text-align: left;
    font-size: 120%;
    padding-left: 2%;
  }
}

.imgTd {
  width: 33vw;
  height: 20vh;
}

.profileImg {
  width: 10vw;
  height: 25vh;
  margin-top: 2%;
  background-color: #e0e0e0;
}

.btn {
  display: flex;
}

.imgBtn {
  width: 4vw;
  height: 4vh;
  font-size: 80%;
  margin: 2%;
  background-color: white;
}

.imgBtn:hover {
  background-color: #5285ee;
  color: white;
  border: none;
}

.formBtnArray {
  display: flex;
  justify-content: center;
  width: 50vw;
}

.formBtn {
  width: 5vw;
  height: 5vh;
  font-size: 120%;
  border-radius: 20px;
  margin: 2%;
  background-color: white;
}

.formBtn:hover {
  background-color: #5285ee;
  color: white;
  border: none;
}
