// Variables
$background-light-gray: #d9d9d9;
$background-blue: #4a93e3;
$background-white: white;
$text-color-black: black;
$text-color-white: white;
$common-font-size: 100%;
$larger-font-size: 120%;
$common-border-radius: 20px;
$menu-border-radius: 50px 50px 0 0;
$common-width: 100vw;
$common-height: 5vh;
$form-width: 40vw;
$form-height: 60vh;

.menuArray {
  display: flex;
  margin-top: 0.5%;
  width: $common-width;
  height: $common-height;
}

.updateMenu, .changeMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: $common-height;
  border-radius: $menu-border-radius;

  &.updateMenu {
    background-color: $background-light-gray;
    text-decoration: none;
    color: $text-color-black;
  }

  &.changeMenu {
    background-color: $background-blue;
    color: $text-color-white;
  }
}

.formArray {
  width: $common-width;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.passwordFormArray {
  text-align: center;
  width: $form-width;
  height: 65vh;
}

.formTxt {
  margin: 2% 0;
}

.passwordForm {
  width: $form-width;
  height: $form-height;
  text-align: left;
}

.inputForm {
  margin: 4% 12%;
}

.inputTxtForm {
  width: 30vw;
  height: $common-height;
  margin-top: 2%;
  font-size: $common-font-size;
  padding-left: 2%;
}

.formBtnArray {
  display: flex;
  justify-content: center;
}

.formBtn {
  width: 5vw;
  height: $common-height;
  font-size: $larger-font-size;
  border-radius: $common-border-radius;
  margin: 0% 2%;
  background-color: $background-white;
}

.formBtn:hover {
  border: none;
  background-color: #4a93e3;
  color: white;
}