.explanArray {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.imgArray {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 30vw;
  height: 70vh;
}

.txtArray {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.txtArray h1 {
  font-size: 350%;
  color: #5285EE;
}

.txtP {
  margin-top: 3%;
  font-size: 120%;
  color: #777777;
}