.classInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 5vw;
}

.classNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
}

.navItem {
  flex: 1;
  text-align: center;
  font-size: 1.5rem;
  padding: 1vh 0;
  cursor: pointer;
  background-color: #e0e0e0;
  text-decoration: none;
  color: black;
  border-radius: 25px 25px 0 0;
}

.navItem:hover {
  background-color: #5285ee;
  color: white;
}

.active {
  background-color: #5285ee;
  color: white;
}

.altActive {
  background-color: #5285ee;
  color: white;
}

.inputFileForm {
  display: none;
}

.inputFile {
  position: absolute;
  top: 18.5%;
  left: 92%;
  width: 4vw;
  height: 7vh;
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.classImage {
  max-width: 100%;
  height: auto;
}

.infoBoxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2vh;
  height: 190px;
}

.noticeBox,
.classInfoBox,
.inquiryBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 2vh 2vw; /* 패딩을 줄여서 박스의 세로 길이를 줄임 */
  border-radius: 1vh;
  width: 30%;
  text-align: center;
  margin: 0 1vh;
}

.noticeBox {
  border: 3px solid #dce7fc;
  position: relative; /* 제목을 왼쪽 상단에 위치시키기 위해 position 속성 추가 */
  text-align: left; /* 박스 전체 내용 좌측 정렬 */
}

.noticeBox h2 {
  position: absolute;
  top: 1vh; /* 원하는 위치 조정 */
  left: 1vw; /* 원하는 위치 조정 */
  width: calc(100% - 2vw); /* 여백을 고려하여 너비 설정 */
  border-bottom: 2px solid #dce7fc;
  margin: 0; /* 제목의 기본 마진 제거 */
  padding-bottom: 1vh; /* 하단 패딩 추가 */
}

.noticeBox p {
  position: absolute;
  top: 7vh; /* 원하는 위치 조정 */
  left: 1.5vw; /* 원하는 위치 조정 */
  width: calc(100% - 3vw); /* 여백을 고려하여 너비 설정 */
  white-space: pre-wrap;
}

.noticeBox .editBox {
  margin-top: 6vh;
  height: 100%;
  width: calc(100% - 0vw);
}

.noticeBox .editTextarea {
  width: 100%;
  height: 10vh;
}

.noticeBox .editIcon {
  position: absolute;
  top: 1.8vh;
  right: 1vw;
  font-size: 1.3rem;
  cursor: pointer;
  color: #b5cefe;
  transition: color 0.3s ease;
}

.noticeBox .editIcon:hover {
  color: #77a6fd;
}

.classInfoBox {
  background-color: #dce7fc;
}

.inquiryBox {
  border: 3px solid #dce7fc;
  position: relative; /* 제목을 왼쪽 상단에 위치시키기 위해 position 속성 추가 */
  text-align: left; /* 박스 전체 내용 좌측 정렬 */
}

.inquiryBox h2 {
  position: absolute;
  top: 1vh; /* 원하는 위치 조정 */
  left: 1vw; /* 원하는 위치 조정 */
  width: calc(100% - 2vw); /* 여백을 고려하여 너비 설정 */
  border-bottom: 2px solid #dce7fc;
  margin: 0; /* 제목의 기본 마진 제거 */
  padding-bottom: 1vh; /* 하단 패딩 추가 */
}

.inquiryBox .inquiryItem {
  position: relative;
  top: 3vh; /* 적절한 위치 조정 */
}

.headerSeparator {
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.headerSeparator h2 {
  width: 100%;
  border-bottom: 3px solid blue;
}

.inquiryBox .inquiryItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 4px 0;
  position: relative; /* 추가 */
  top: 3vh; /* 적절한 위치 조정 */
}

.inquiryQuestion {
  flex: 1;
}

.classInfoBox h2 {
  margin-bottom: 10px;
}