* {
  box-sizing: border-box;
}

.calendarContainer {
  width: 40%; /* 두 요소가 나란히 배치되도록 너비를 40%로 설정 */
  margin: 2% 0; /* 상하 여백 2%로 설정 */
  padding: 1.5vh;
  border: 0.2rem solid #ddd; /* 테두리 추가 */
  background-color: white; /* 배경색 설정 */
  box-shadow: 0 2vh 4vh rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  overflow: hidden; /* 불필요한 스크롤 제거 */

  .fc {
    &-toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-toolbar-title {
      font-size: 1.5rem; /* 제목 크기 조정 */
    }

    &-day-header {
      padding: 1vh 0; /* 요일 헤더 패딩 조정 */
      color: #dce7fc; /* 요일 헤더 색상 설정 */
      background-color: #f8f9fa; /* 요일 헤더 배경색 설정 */
    }

    &-daygrid-day-number {
      font-size: 1rem; /* 날짜 숫자 크기 조정 */
      padding: 0.5vh; /* 날짜 숫자 패딩 추가 */
    }

    &-daygrid-event {
      font-size: 1rem; /* 이벤트 텍스트 크기 조정 */
      padding: 0.5vh 1vh; /* 이벤트 텍스트 여백 조정 */
    }
  }
}