* {
  box-sizing: border-box;
}

@mixin radius($radius) {
  border-radius: $radius;
}

.consultationList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 2%;
  padding: 1.5vh;
  background-color: white;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: auto;
    margin-bottom: 1.6vh;
    padding: 1vh 2vw;
    background-color: #e0eaff;
    @include radius(2rem); // Grouped with box model properties
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
    text-align: center;

    h2 {
      margin: 0;
      font-size: 1.5rem;
    }

    .calendarIcon {
      font-size: 1.5rem;
    }

    .filterContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      .filterLabel {
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }

      .filterSelect {
        padding: 0.5rem;
        border: 1px solid #dce7fc;
      }
    }
  }

  .table {
    width: 100%;
    border-collapse: collapse;

    .row {
      display: flex;
      border-left: 5px solid #dce7fc;
      border-right: 5px solid #dce7fc;
      border-top: 5px solid #dce7fc;

      &:last-child {
        border-bottom: 5px solid #dce7fc;
      }

      .cell,
      .cellHeader {
        flex: 1;
        padding: 1vh;
        text-align: center;
      }

      .cellHeader {
        font-weight: bold;
      }
    }
  }

  .available {
    @include radius(2rem);
    padding: 0.5vh 1vh;
    background-color: #fff;
    color: black;
    border: 1px solid #ddd;
    box-shadow: 0 0.2vh 0.5vh rgba(1, 1, 1, 0.3);
    cursor: pointer;
    transition: background-color 0.1s ease, transform 0.1s ease;

    &:hover {
      background-color: #dce7fc;
      transform: scale(1.1);
    }
  }

  .unavailable {
    @include radius(2rem);
    padding: 0.5vh 1vh;
    background-color: #d9d9d9;
    color: black;
    border: 1px solid #ddd;
    cursor: not-allowed;
  }

  .clicked {
    @include radius(2rem);
    padding: 0.5vh 1vh;
    background-color: #dce7fc;
    color: black;
    border: 1px solid #ddd;
    box-shadow: 0 0.2vh 0.5vh rgba(1, 1, 1, 0.3);
    cursor: pointer;
  }

  .consultationInput {
    width: 100%;
    height: 10vh; // textarea 높이 조절
    padding: 1vh;
    margin-top: 2vh; // 입력란과 테이블 사이 간격 추가
    border: 5px solid #dce7fc;
  }

  .actions {
    display: flex;
    justify-content: center;
    margin-top: 2vh;

    button {
      @include radius(1.5rem);
      padding: 1vh 2vh;
      margin: 0 1vw;
      border: none;
      background-color: #dce7fc;
      box-shadow: 0 0.2vh 0.5vh rgba(1, 1, 1, 0.3);
      cursor: pointer;
      font-size: 1rem;

      &:hover {
        background-color: #5285ee;
      }
    }

    .cancel {
      background-color: #fff;

      &:hover {
        background-color: #d9d9d9;
      }
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    margin: 1% 0;
    padding: 1vh;
  }
  /* 모달 스타일 추가 */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);

    .modalContent {
      background: white;
      padding: 2rem;
      text-align: center;
      border-radius: 0.5rem;

      p {
        margin: 0 0 1rem 0;
      }

      button {
        padding: 0.5rem 1rem;
        border: none;
        background-color: #dce7fc;
        cursor: pointer;

        &:hover {
          background-color: #5285ee;
        }
      }
    }
  }
}
