.login-title {
  text-align: center;
  margin-top: 4%;
  font-size: 200%;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.login-array {
  display: flex;
  justify-content: center;
}

.login-background {
  position: absolute;
  top: 31%;
  z-index: -1;
  width: 550px;
  height: 450px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 3%;
}

.login-form input {
  padding: 3%;
  margin-top: 3%;
}

.login-btn {
  margin-top: 3%;
  padding: 2%;
  border-radius: 25px;
  background-color: #5285ee;
  color: white;
  font-size: 120%;
}

.login-route {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  color: #5285ee;
  font-weight: bold;
  font-size: 80%;
}

.google-btn {
  margin-top: 3%;
  padding: 2%;
  border-radius: 25px;
  background-color: white;
  font-size: 110%;
  font-weight: bold;
}

.naver-btn {
  margin-top: 3%;
  padding: 2%;
  border-radius: 25px;
  background-color: #00b818;
  font-size: 110%;
  color: white;
  font-weight: bold;
}

.kakao-btn {
  margin-top: 3%;
  padding: 2%;
  border-radius: 25px;
  background-color: #fddc3f;
  font-size: 110%;
  font-weight: bold;
}

.google-img {
  position: absolute;
  top: 66.5%;
  left: 36%;
  width: 2%;
}

.naver-img {
  position: absolute;
  top: 74.5%;
  left: 36%;
  width: 2%;
}

.kakao-img {
  position: absolute;
  top: 83%;
  left: 35.8%;
  width: 2.5%;
}

.round3 {
  position: absolute;
  top: 55%;
  z-index: -2;
}
