.modalArray {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.enterArray {
    width: 450px;
    height: 500px;
    background-color: white;
    border: 10px solid #D0E0FE;
    border-radius: 25px;
}

.headerArray {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12%;
    background-color: #D0E0FE;
}

.headerArray p {
    font-size: 120%;
}

.outBtn {
    position: relative;
    left: 20%;
    cursor: pointer;
}

.outBtn:hover {
    color: red;
}

.inputForm {
    display: flex;
    justify-content: space-evenly;
}

.inputBox {
    margin-top: 5%;
    width: 12%;
    height: 10%;
    font-size: 200%;
    text-align: center;
}

.classInfo {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120%;
}

.classInfo p {
    margin: 5% 0%;
}

.registComplete {
    width: 100%;
    height: 12.1%;
    border-radius: 0 0 15px 15px;
    border-style: none;
    font-size: 120%;
    cursor: pointer;
}

.registComplete:hover {
    background-color: #e5e5e5;
}