body {
  background-color: #5285ee;
}

.select-array {
  height: 565px;
}

.main-txt {
  margin-top: 3%;
  font-size: 300%;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.start-box {
  display: flex;
  justify-content: center;
}

.teacher-box {
  margin: 4% 6%;
  width: 350px;
  height: 350px;
  background-color: white;
  border-radius: 10%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.parents-box {
  margin: 4% 6%;
  width: 350px;
  height: 350px;
  background-color: white;
  border-radius: 10%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.scroll {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 120%;
}

.teacher-txt {
  position: relative;
  top: 10%;
  left: 5%;
}

.parents-txt {
  position: relative;
  top: 10%;
  left: 5%;
}

.teacher-img {
  position: relative;
  top: 22.5%;
  left: 20%;
  width: 60%;
}

.parents-img {
  position: relative;
  top: 20.7%;
  left: 22%;
  width: 60%;
}

.arrow-img1 {
  position: absolute;
  top: 42.5%;
  left: 29%;
  width: 2.5%;
}

.arrow-img2 {
  position: absolute;
  top: 42.4%;
  right: 27%;
  width: 2.5%;
}

.round1 {
  position: absolute;
  top: 15%;
  left: 12%;
  width: 15%;
  z-index: -1;
}

.round2 {
  position: absolute;
  top: 20%;
  right: 5%;
  width: 15%;
  z-index: -1;
}

.round3 {
  position: absolute;
  top: 52%;
  left: 42%;
  width: 20%;
  z-index: -1;
}
