.produceArray {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalArray {
    width: 30vw;
    height: 20vh;
    background-color: white;
    border: 1px solid black;
}