/* App.css */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

.logo {
  position: absolute;
  top: 1%;
  left: 5%;
  width: 8vw;
  height: 8vh;
}

.navtxt {
  margin: 0% 3%;
  font-size: 100%;
  white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 설정 */
}

.navtxt :hover {
  color: #5285ee;
}

.menu-array {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.menu-array a {
  text-decoration: none; /* 링크 밑줄 제거 */
  color: inherit; /* 부모 요소의 색상 상속 */
}

.menu-array .active {
  color: #5285ee; /* 활성화된 링크 색상 */
}