.classInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 5vw;
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.classImage {
  max-width: 100%;
  height: auto;
}

.infoBoxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2vh;
  height: 190px;
}

.noticeBox,
.classInfoBox,
.inquiryBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 2vh 2vw;
  border-radius: 1vh;
  width: 30%;
  text-align: center;
  margin: 0 1vh;
}

.noticeBox {
  border: 3px solid #dce7fc;
  position: relative;
  text-align: left;
}

.noticeBox h2 {
  position: absolute;
  top: 1vh;
  left: 1vw;
  width: calc(100% - 2vw);
  border-bottom: 2px solid #dce7fc;
  margin: 0;
  padding-bottom: 1vh;
}

.noticeBox p {
  position: absolute;
  top: 9.3vh;
  left: 2.3vw;
  width: calc(100% - 3vw);
  white-space: pre-wrap;
}

.classInfoBox {
  position: relative;
  text-align: left;
  background-color: #dce7fc;
}

.classInfoBox h2 {
  position: absolute;
  top: 1vh; /* 원하는 위치 조정 */
  left: 1vw; /* 원하는 위치 조정 */
  width: calc(100% - 2vw); /* 여백을 고려하여 너비 설정 */
  border-bottom: 2px solid white;
  margin: 0; /* 제목의 기본 마진 제거 */
  padding-bottom: 1vh; /* 하단 패딩 추가 */
}

.classInfoBox p {
  position: absolute;
  top: 9.3vh; /* 원하는 위치 조정 */
  left: 2.3vw; /* 원하는 위치 조정 */
  width: calc(100% - 3vw); /* 여백을 고려하여 너비 설정 */
  white-space: pre-wrap;
}

.inquiryBox {
  border: 3px solid #dce7fc;
  position: relative; /* 제목을 왼쪽 상단에 위치시키기 위해 position 속성 추가 */
  text-align: left; /* 박스 전체 내용 좌측 정렬 */
}

.inquiryBox h2 {
  position: absolute;
  top: 1vh; /* 원하는 위치 조정 */
  left: 1vw; /* 원하는 위치 조정 */
  width: calc(100% - 2vw); /* 여백을 고려하여 너비 설정 */
  border-bottom: 2px solid #dce7fc;
  margin: 0; /* 제목의 기본 마진 제거 */
  padding-bottom: 1vh; /* 하단 패딩 추가 */
}

.inquiryBox .inquiryItem {
  position: relative;
  top: 3vh;
  cursor: pointer;
}

.inquiryBox .inquiryItem:hover {
  color: #5285ee; /* 호버 시 글자 색 변경 */
}

.headerSeparator {
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.headerSeparator h2 {
  width: 100%;
  border-bottom: 3px solid blue;
}

.inquiryBox .inquiryItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 4px 0;
  position: relative;
  top: 4vh;
}

.inquiryQuestion {
  flex: 1;
}
