.alramArray {
  position: absolute;
  top: 5.45vw;
  left: 176vh;
  width: 18vw;
  height: 55vh;
  background-color: #eeeeee;
  z-index: 10;
  border-radius: 15px;
  border: 2px solid #cccccc;

  hr {
    border: 1px solid #cccccc;
  }
}

.triangle {
  position: absolute;
  top: -4%;
  left: 11.2%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 16px solid #eeeeee;
}

.titleArray {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.7vw;
  height: 6vh;
  background-color: white;
  border-radius: 15px 15px 0px 0px;
  font-size: 150%;
}

.contentArray {
  width: 17.7vw;
  height: 48vh;
  border-radius: 0px 0px 15px 15px;
  padding: 0px 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 10vh;
  margin-top: 5%;
  border-radius: 25px;
  background-color: white;
  white-space: normal;
}
