.navbarArray {
  width: 100vw;
  height: 10vh;
}

.logo {
  position: absolute;
  top: 1.2%;
  left: 5%;
  width: 7vw;
  height: 7vh;
}

.navtxt {
  white-space: nowrap;
}

.navtxt:hover {
  color: #5285ee;
}

.menuArray {
  height: 10vh;
  gap: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuArray a {
  text-decoration: none;
  color: inherit;
}

.menuArray .active {
  color: #5285ee;
}
