// Variables
$primary-color: #5285ee;
$background-color-light: #dae9ff;
$white-color: #ffffff;
$black-color: #000000;
$box-shadow-default: 4px 4px 4px rgba($black-color, 0.4);
$box-shadow-hover: 4px 4px 4px rgba($black-color, 0.2);
$text-color: $white-color;
$button-color: $primary-color;
$button-bg-color: $white-color;

// Keyframes
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes moveUpDown {
  0%,
  100% {
    top: 21%;
  }
  50% {
    top: 23%;
  }
}

// Styles
.menuArray {
  height: 100vh;
}

.inviteCodeBox {
  position: relative;
  top: 5%;
  left: 25%;
  align-items: center;
  width: 50vw;
  height: 20vh;
  background-color: $background-color-light;
  border-radius: 25px;
  box-shadow: $box-shadow-default;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  text-align: center;

  &:hover {
    transform: translateY(-10px);
    box-shadow: $box-shadow-hover;
  }

  button {
    padding: 1% 4%;
    border-radius: 25px;
    color: $button-color;
    font-size: 120%;
    border-color: $button-color;
    background-color: $button-bg-color;
  }
}

.inviteTxtBox {
  padding: 1.5%;
}

.menuBoxArray {
  position: relative;
  top: 15%;
  display: flex;
  justify-content: space-evenly;
}

.menuBox {
  width: 24vw;
  background-color: $primary-color;
  border-radius: 25px;
  box-shadow: $box-shadow-default;
  text-decoration: none;
  color: $text-color;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-10px);
    box-shadow: $box-shadow-hover;
  }
}

.menuBox1 {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.menuBox2 {
  opacity: 0;
  animation: fadeIn 1s ease-in 0.05s forwards;
}

.menuBox3 {
  opacity: 0;
  animation: fadeIn 1s ease-in 0.1s forwards;
}

.menuTxt {
  position: relative;
  top: 5%;
  text-align: center;
  font-size: 120%;
}

.imgArray {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 10% 0%;
}

.classroomImg {
  width: 13.2vw;
}

.questionImg {
  width: 9vw;
}

.appointmentImg {
  width: 11vw;
}

.scroll {
  position: relative;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  animation: moveUpDown 5s infinite;
}

